<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 align-items-center">
          <img src="image/pngegg (2).png" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <h2>Varification required</h2>
             <p>One Time Password (OTP) sent to <%= number %>. Please enter it below to complete verification</p>
          <form action="/verify-pass?number=<%= number %>&email=<%= email %>" method="POST">
            <div class="form-group">
              <label for="otp">Enter OTP:</label>
              <input type="text" id="otp" name="otp" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify</button>
            <a href="/verify-pass?number=<%= number %>&email=<%= email %>"><button type="button" class="btn btn-secondary" id="resendOtp" disabled>Resend OTP</button></a>
          </form>
        </div>
      </div>
    </div>
  </section>